<%= render 'layouts/topic_header' %>
<div class="content">
  <div class="all">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<h1>New Topic</h1>

<%= render 'form' %>

<%= link_to 'Back', topics_path %>

</div>
</div>
