<%= render 'layouts/topic_header' %>
<div class="content">
  <div class="all">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="left-content">
<div class="topic-detail-category"><%= @topic.category %></div>  <%= @topic.data.strftime("%Y年%m月%d日") %>
<br>
<h1 class="topic-detail-title"><%= @topic.title %></h1>
<div class="topic-detail-image"><%= image_tag @topic.image.url if @topic.image? %></div>
<div class="topic-detail-content">
<%= @topic.content %>
</div>
<br>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
<% end %>

</div>
<%= render 'layouts/sidebar' %>
</div>
</div>
