<%= render 'layouts/info_header' %>
<div class="content">
  <div class="all">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class="left-content">
<div class="info-content">
<h1>INFO</h1>
<%= image_tag "hosei_info.jpg" %>
<table class="player-detail">
    <tbody class="player-tbody">
        <tr>
            <th class="player-dai">所属</th>
            <th class="player-setumei">関東大学リーグ戦グループ</th>
        </tr>
        <tr>
            <th class="player-dai">創部</th>
            <th class="player-setumei">1924年</th>
        </tr>
        <tr>
            <th class="player-dai">所在地</th>
            <th class="player-setumei">東京都八王子市寺田町1017-1
              法政大学ラグビー部合宿所</th>
        </tr>
        <tr>
            <th class="player-dai">連絡先</th>
            <th class="player-setumei">0426-65-9861</th>
        </tr>
        <tr>
            <th class="player-dai">グラウンド</th>
            <th class="player-setumei">東京都町田市相原町4342
法政大学多摩キャンパスグラウンド</th>
        </tr>
        <tr>
            <th class="player-dai">主要成績</th>
            <th class="player-setumei">日本選手権出場4回
大学選手権優勝3回
大学選手権準優勝5回
関東大学リーグ戦優勝13回</th>
        </tr>
        <tr>
            <th class="player-dai">現スタッフ</th>
            <th class="player-setumei">監督：谷崎　重行
主将：坂本　泰敏（常翔学園学校出身、SH）</th>
        </tr>
    </tbody>
</table>

</div>
</div>
<%= render 'layouts/sidebar' %>
</div>
</div>
