<%= render 'layouts/header2' %>
<div class="content">
  <div class="all">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<div class="top-topic-all">
<h2 class="top-h2">TOPICS</h2>
<ul class="top-topic">
    <% @sidetopics[0,1].each do |topic| %>
    <li class="top-topic-list">
        <%= link_to topic_path(topic.id) do %>
        <div class="top-topic-image" style="background-image: url(<%= asset_path topic.image.url %>)">
        <div class="top-topic-detail">
          <div class="top-topic-category">
            <%= topic.category %>
          </div>
          <div class="top-topic-data">
          <%= topic.data.strftime("%Y年%m月%d日") %>
          </div>
          <div class="top-topic-title">
            <%= topic.title.truncate(20) %>
          </div>
       </div>

        </div>
        <% end %>
        <!-- <%= link_to 'Show', topic %>
        <%= link_to 'Edit', edit_topic_path(topic) %>
        <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    </li>
    <% end %>
</ul>

<ul class="top-topic">
    <% @sidetopics[1,6].each do |topic| %>
    <li class="second-topic-list">
        <%= link_to topic_path(topic.id) do %>
        <div class="second-topic-category"><%= topic.category %></div>
        <div class="second-topic-detail">
            <%= topic.data.strftime("%Y年%m月%d日") %>
            <%= topic.title.truncate(20) %>
        </div>
        <% end %>
        <!-- <%= link_to 'Show', topic %>
        <%= link_to 'Edit', edit_topic_path(topic) %>
        <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %> -->
    </li>
    <% end %>
    <li>
      <%= link_to topics_path do %>
      <div class="topic-more">VIEW MORE</div>
      <% end %>
    </li>
</ul>
</div>

<div class="top-result-all">
<h2 class="top-result-h2">RESULT</h2>
<ul class="top-result-ul">
    <% @sideresults[0,6].each do |result| %>
    <li class="top-result-list">
        <%= link_to result_path(result.id) do %>
        <div class="top-result-date">
        <%= result.time.strftime("%Y年%m月%d日") %>
        </div>
        <div class="top-result-point">
        <%= result.team %>
        <% myresult = result.score_first_t*5 + result.score_first_g*2 + result.score_first_pg*3 + result.score_first_dg*3 + result.score_second_t*5 + result.score_second_g*2 + result.score_second_pg*3 + result.score_second_dg*3 %>
        <% opponentresult = result.opponent_score_first_t*5 + result.opponent_score_first_g*2 + result.opponent_score_first_pg*3 + result.opponent_score_first_dg*3 + result.opponent_score_second_t*5 + result.opponent_score_second_g*2 +
        result.opponent_score_second_pg*3 + result.opponent_score_second_dg*3 %>
        <div class="top-result-goal">
          <%= myresult %> - <%= opponentresult %>
        </div>
        <%= result.opponent %>
        </div>
        <div class="top-result-category">
          <%= result.category %>
          </div>
        <% end %>
        <!--
          <%= link_to 'Show', result %>
          <%= link_to 'Edit', edit_result_path(result) %>
          <%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %>
        -->
    </li>
    <% end %>
    <li>
      <%= link_to results_path do %>
      <div class="result-more">VIEW MORE</div>
      <% end %>
    </li>
</ul>

</div>
<div class="top-player">
  <%=link_to players_path do %>
  <div class="top-player-image" style="background-image: url(<%= asset_path "player.jpg" %>)">
    <h2>選手一覧</h2>
  </div>
  <% end %>
</div>

<div class="top-information">
  <%=link_to homes_info_path do %>
  <div class="top-information-image" style="background-image: url(<%= asset_path "info.jpg" %>)">
    <h2>チーム情報</h2>
  </div>
  <% end %>
</div>

<div class="top-schedule">
<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=8r0khpr72ir53q2fc1qceuhci0%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Asia%2FTokyo" style="border-width:0" width="100%" height="297px" frameborder="0" scrolling="no"></iframe>
</div>

<div class="top-serch">
  <%=link_to photos_path do %>
  <div class="top-information-image" style="background-image: url(<%= asset_path "photo.jpg" %>)">
    <h2>選手写真検索</h2>
  </div>
  <% end %>
</div>
</div>
</div>
