<%= form_for(@photo, html: { multipart: true }) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %> 
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.collection_select :player_id, Player.all, :id, :name, :prompt => "選択してください" %>
  </div>
  <div class="field">
    <%= f.label :result_id %><br>
    <%= f.collection_select :result_id, Result.all, :id, :time, :prompt => "選択してください" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
