<div class="footer">
    <ul class="footer-content">
        <li class="footer-item">
            <%= link_to "トップ", root_path %>
        </li>
        <li class="footer-item">
            <%= link_to "トピックス", '/topics' %>
        </li>
        <li class="footer-item">
            <%= link_to "チーム情報", '/homes/history' %>
        </li>
        <li class="footer-item">
            <%= link_to "プレイヤー一覧", '/players' %>
        </li>
        <li class="footer-item">
            <%= link_to "試合結果", '/results' %>
        </li>
        <li class="footer-item">
            <%= link_to "フォト", '/photos' %>
        </li>
        <li class="footer-item">
            <%= link_to "スケジュール", '/homes/link'%>
        </li>
    </ul>
</div>


<div class="footer-second">
    <div class="footer-second-content">
      <p>当サイト内で使用している画像・動画の無断転載・複製は固く禁じます。<br>
        Copyrihgt(C)2007.HOSEI RUGBY.COM. Allrightreserved</p>
    </div>
</div>
