<div class="side-content">
  <h3>Topics</h3>
  <ul>
      <% @sidetopics[0,6].each do |topic| %>
      <li class="topic-side-list">
          <%= link_to topic_path(topic.id) do %>
          <div class="topic-side-category"><%= topic.category %></div>
          <div class="topic-side-detail">
              <%= topic.data.strftime("%Y年%m月%d日") %>
              <%= topic.title %>
          </div>
          <% end %>
          <% if user_signed_in? %>
          <%= link_to 'Show', topic %>
          <%= link_to 'Edit', edit_topic_path(topic) %>
          <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </li>
      <% end %>
  </ul>
  <h3>試合結果</h3>
  <ul class="result-side-detail">
      <% @sideresults[0,6].each do |result| %>
      <li class="result-side-list">
            <div class="result-side-time"><%= result.time.strftime("%Y年%m月%d日") %>
            <%= result.category %></div>
            <div class="result-side-kekka">
            <%= result.team %>
            <% if !result.score_first_t.nil? %>
            <% myresult = result.score_first_t*5 + result.score_first_g*2 + result.score_first_pg*3 + result.score_first_dg*3 + result.score_second_t*5 + result.score_second_g*2 + result.score_second_pg*3 + result.score_second_dg*3 %>
            <% opponentresult = result.opponent_score_first_t*5 + result.opponent_score_first_g*2 + result.opponent_score_first_pg*3 + result.opponent_score_first_dg*3 + result.opponent_score_second_t*5 + result.opponent_score_second_g*2 +
            result.opponent_score_second_pg*3 + result.opponent_score_second_dg*3 %>
            <%= myresult %>-<%= opponentresult %>
            <%= link_to result_path(result.id) do %><%= result.opponent %><% end %>
                <% if myresult > opponentresult %>
                ◯
                <% elsif myresult < opponentresult %>
                ✕
                <% else %>
                △
                <% end %>
            <% else %>
            <% myresult = "0" %>
            <% opponentresult = "0" %>
            <%= myresult %>-<%= opponentresult %>
            <%= link_to result_path(result.id) do %><%= result.opponent %><% end %>
              試合予定
            <% end %>


            </div>
        </li>
      <!-- <tr>
          <th><%= link_to 'Show', result %></th>
          <th><%= link_to 'Edit', edit_result_path(result) %></th>
          <th><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></th>
      </tr> -->
      <% end %>
  </ul>
</div>
